* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#cart-nav {
    width: 100%;
    background-color: #F4F4F4;
    height: 65px;
}

#nav-inner {
    width: 70%;
    height: 65px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    #nav-inner {
        width: 98%;
        margin: auto;
    }
}

#logo-div {
    height: 65px;
    width: 180px;
    display: flex;
    align-items: center;
}

#logo-div>a>img {
    width: 170px;
    height: 30px;
    padding-left: 0px;
}

#mid-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mid-div>div {
    height: 65px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #626161;
    background-color: #F4F4F4;
}

#mid-div>div>p {
    padding-top: 5px;
    margin-bottom: -5px;
}

#mid-div>div>a>img {
    width: 20px;
}

#email-div {
    height: 65px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #626161;
    background-color: #F4F4F4;
}

#email-div>img {
    width: 20px;
    height: 20px;
}

#shop-div {
    border-bottom: 3px solid #FC6486;
}

#shop-div > p {
    color: #FC6486;
}

#middle-div {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 850px) {
    #middle-div {
        width: 98%;
        margin: auto;
    }
}

#continue-div {
    margin-top: 20px;
    padding: 10px 0px;
    border: 1px solid #DCDCDC;

}

#continue-div>a {
    color: #FC6486;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#continue-div>a>img {
    width: 18px;
}

#empty-img-div {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

#empty-img-div>p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

#foot-div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #A2A2A2;
    color: #545454;
    font-size: 15px;
    margin-top: 40px;
}

#foot-div>div {
    display: flex;
}

#foot-div>div:first-child>p {
    padding-right: 10px;
}
#address-mid-div {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

#address-left-div {
    width: 55%;
}

#address-left-div>p,
#address-right-div>p,
#price-details-div > p {
    font-size: 20px;
    color: #555555;
}

#address-right-div {
    width: 35%;
}

#form-div {
    width: 100%;
    border: 1px solid #DCDCDC;
    padding: 15px 20px 20px 20px;
    margin-top: 20px;
}

#form-div>div:nth-child(1),
#form-div>div:nth-child(2),
#form-div>div:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

#form-div>div>div>p {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0px 5px 0px;
}

#form-div>div>p {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0px 5px 0px;
}

#form-div>div>div {
    width: 48%;
}

#form-div>div>div>input {
    width: 100%;
    height: 40px;
    border: 1px solid #DCDCDC;
    padding-left: 10px;
    font-size: 15px;
    color: #4A4A4A;
}
#form-div>div>div>input:focus {
    outline: none;
}

#form-div>div {
    width: 100%;
    font-size: 15px;
    color: #4A4A4A;
}

#form-div>div> #address-input {
    border: 1px solid #DCDCDC;
    padding: 10px;
}
#form-div>div> #address-input:focus {
    outline: none;
}

#delev-btn {
    width: 50%;
    margin-top: 30px;
    height: 45px;
    background-color: #FC6486;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

#delev-btn:hover {
    background-color: #f23f66;
}

#right-div-bottom {
    margin-top: 20px;
    border: 1px solid #a9a7a7;
    padding: 20px;
    font-size: 13px;
    color: #4A4A4A;
}

#right-div-bottom>p:nth-child(2) {
    padding-top: 10px;
}
#cart-prod-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;
}
#cart-pro-img {
    width: 15%;
    padding: 5px;
}
#cart-pro-img > img {
    width: 100%;
}
#cart-pro-detail {
    width: 80%;
    /* padding: 5px; */
}
#cart-pro-detail > p {
    font-size: 11px;
    color: #4A4A4A;
    padding-top: 2px;
}
#my-card {
    margin-top: 15px;
}
#price-details-div {
    margin-top: 20px;
}
#price-details-div > div {
    width: 100%;
    background-color: #F4F4F4;
    padding: 20px 0px;
    margin-top: 20px;

}
#price-details-div > div > div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    border-bottom: 1px solid #DCDCDC;
}
#price-details-div > div > div:nth-child(1){
    font-size: 14px;
    color: #6E6E6E;
}
#price-details-div > div > div:nth-child(2){
    font-size: 14px;
    color: #FC6486;
}

@media screen and (max-width: 850px) {
    #address-mid-div {
        width: 95%;
        margin: auto;
        margin-top: 20px;
    }
    #address-input {
        width: 97%;
    }
    #address-left-div {
        width: 50%;
    }
    #address-right-div {
        width: 40%;
    }
}

@media screen and (max-width: 400px) {
    #email-div, #logo-div {
        display: none;
    }
    #address-mid-div {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        margin-top: 20px;
    }
    #address-left-div {
        width: 90%;
    }
    #address-right-div {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    #foot-div {
        width: 95%;
        margin: auto;
        font-size: 13px;
        margin-top: 40px;
    }
}