* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#cart-nav {
    width: 100%;
    background-color: #F4F4F4;
    height: 65px;
}

#nav-inner {
    width: 70%;
    height: 65px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    #nav-inner {
        width: 98%;
        margin: auto;
    }
}

#logo-div {
    height: 65px;
    width: 180px;
    display: flex;
    align-items: center;
}

#logo-div>a>img {
    width: 170px;
    height: 30px;
    padding-left: 0px;
}

#mid-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mid-div>div {
    height: 65px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #626161;
    background-color: #F4F4F4;
}

#mid-div>div>p {
    padding-top: 5px;
    margin-bottom: -5px;
}

#mid-div>div>a>img {
    width: 20px;
}

#email-div {
    height: 65px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #626161;
    background-color: #F4F4F4;
}

#email-div>img {
    width: 20px;
    height: 20px;
}

#bag-div {
    border-bottom: 3px solid #FC6486;
}

#bag-div>p {
    color: #FC6486;
}

#middle-div {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 850px) {
    #middle-div {
        width: 98%;
        margin: auto;
    }
}

#continue-div {
    margin-top: 20px;
    padding: 10px 0px;
    border: 1px solid #DCDCDC;

}

#continue-div>a {
    color: #FC6486;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#continue-div>a>img {
    width: 18px;
}

#empty-img-div {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

#empty-img-div>p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

#foot-div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #A2A2A2;
    color: #545454;
    font-size: 15px;
    margin-top: 80px;
}

#foot-div>div {
    display: flex;
}

#foot-div>div:first-child>p {
    padding-right: 10px;
}

#cart-item-div {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 850px) {
    #cart-item-div {
        width: 100%;
        margin: auto;
    }
}

#left-cart-item-div {
    width: 60%;
    padding: 10px;
    /* border: 2px solid brown; */
}

#left-cart-item-div>p,
#right-cart-item-div>p {
    margin-top: 20px;
    font-size: 20px;
    color: #616161;
    letter-spacing: 1px;
}

#cart-prod-div {
    border: 1px solid #DCDCDC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#cart-pro-img {
    /* border: 3px solid blue; */
    width: 15%;
    padding: 10px;
}

#cart-pro-img>img {
    width: 100%;
    height: 100%;
}

#cart-pro-detail {
    /* border: 3px solid green; */
    width: 50%;
    padding: 10px;
}

#cart-pro-detail>p:nth-child(1) {
    font-size: 15px;
    font-weight: 550;
    color: #3e3e3e;
}

#cart-pro-detail>p:nth-child(2) {
    font-size: 13px;
    font-weight: 500;
    color: #7e7d7d;
    margin-top: 10px;
}

#cart-pro-detail>p:nth-child(3) {
    font-size: 13px;
    font-weight: 500;
    color: #7e7d7d;
    margin-top: 3px;
}

#cart-pro-detail>p:nth-child(4) {
    font-size: 13px;
    font-weight: 500;
    color: #7e7d7d;
    margin-top: 3px;
}

#cart-pro-detail>div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #DCDCDC;
    font-size: 13px;
    font-weight: 550;
    text-decoration: underline;
}

@media screen and (max-width: 850px) {
    #cart-pro-detail>div {
        display: none;
    }
}

#cart-pro-price {
    /* border: 3px solid brown; */
    width: 20%;
    padding: 10px 10px 10px 0px;
}

#cart-pro-price>div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

#cart-pro-price>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

#cart-pro-price>div:nth-child(2)>img,
p {
    padding-right: 10px;
}

#cart-pro-price>div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    margin-bottom: -10px;
}

#right-cart-item-div {
    width: 35%;
    padding: 10px 5px 5px 5px;
    /* border: 2px solid brown; */
}

#right-div-top {
    margin-top: 20px;
    background-color: #F4F4F4;
    padding: 20px;
    /* text-decoration: line-through; */
}

#right-div-top>p:nth-child(1) {
    font-size: 14px;
    font-weight: 700;
    color: #555555;
}

#right-div-top>p:nth-child(2) {
    font-size: 11px;
    /* font-weight: 700; */
    color: #6E6E6E;
}

#coupon-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0px;
    border-top: 1px solid #a9a7a7;
    border-bottom: 1px solid #a9a7a7;
}

#coupon-div>p {
    padding: 20px 0px;
    font-size: 15px;
}

#promo {
    width: 80%;
    margin: auto;
    padding: 12px 0px 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

#promo:focus {
    outline: none;
}

#promo-submit {
    width: 120px;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0px;
    border: none;
    background-color: #FC6486;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    margin-bottom: 20px;
}

#promo-submit:hover {
    background-color: #e9365d;
}

#sub-total-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #a9a7a7;
    color: #7e7d7d;

}

#total-div {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #a9a7a7;
}

#order-btn-div {
    text-align: center;
}

#order-btn {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 13px 0px;
    border-radius: 10px;
    border: none;
    background-color: #FC6486;
    color: white;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
}

#order-btn:hover {
    background-color: #e9365d;
}

#right-div-bottom {
    margin-top: 20px;
    border: 1px solid #a9a7a7;
    padding: 20px;
    font-size: 13px;
    color: #4A4A4A;
}

#right-div-bottom>p:nth-child(2) {
    padding-top: 10px;
}

@media screen and (max-width: 400px) {
    #email-div, #logo-div {
        display: none;
    }
    #cart-item-div {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
    }
    #right-cart-item-div {
        width: 100%;
        padding: 10px 5px 5px 5px;
        /* border: 2px solid brown; */
    }
    #left-cart-item-div {
        width: 100%;
        padding: 10px;
        /* border: 2px solid brown; */
    }
}