#carousel-div {
    width: 100%;
    margin-top: 5px;
}

#carousel-div>a>img {
    width: 100%;
}

#heading-div {
    font-size: 25px;
    font-weight: 700;
    color: #323232;
    text-align: center;
    margin: 20px 0;
    line-height: 36px;
}

#trending-cat-img-div {
    display: flex;
    justify-content: space-around;
}

#trending-cat-img-div>div {
    width: 31%;
}

#trending-cat-img-div>div>a>img {
    width: 100%;
}

#hot-cat-div {
    /* border: 2px solid red; */
    margin: 0 15px 0 15px;

}

#hot-cat-div>a>img {
    width: 100%;
}

#pro-div {
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid rgb(220, 157, 157); */
}

#pro-div>div {
    margin-top: 20px;
    width: 238px;
    background-color: rgb(248, 248, 248);
    padding-bottom: 5px;

}

#pro-div>div>a>img {
    width: 100%;
}

#pro-div>div>a {
    text-decoration: none;
    color: #323232;
}

#pro-div>div>a>p {
    margin-top: 10px;
    padding-left: 5px;
}

#pro-div>div>a>p:nth-child(3) {
    color: #ff6062;
    font-weight: 600;
    padding-left: 5px;
}

#img-text-div {
    width: 97%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

#img-text-div>div:nth-child(1) {
    width: 60%;
}

#img-text-div>div:nth-child(2) {
    width: 36%;
}

#img-text-div>div>img {
    width: 100%;
}

#img-text-div>div>p:nth-child(1) {
    font-size: 40px;
    font-weight: 600;
    color: #323232;
    padding-right: 40px;
}

#img-text-div>div>p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    color: #323232;
    margin-top: 20px;
    padding-right: 40px;
    line-height: 30px;
}
#img-text-div>div>a>button {
    padding: 16px 32px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
}

#bottom-div {
    margin-top: 10px;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bottom-div>div {
    width: 350px;
    margin-top: 20px;
}

#bottom-div>div>a>img {
    width: 100%;
}

#subheading-div {
    color: #323232;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    margin-top: -20px;
}



/**
 * NOTIFICATION TOAST 
 */

.notification-toast {
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    background: var(--white);
    max-width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    -webkit-box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
    box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
    -webkit-transform: translateX(-webkit-calc(-100% - 40px));
    -ms-transform: translateX(calc(-100% - 40px));
    transform: translateX(calc(-100% - 40px));
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 5;
    -webkit-animation: slideInOut 10s ease-in-out infinite;
    animation: slideInOut 10s ease-in-out infinite;
}


@-webkit-keyframes slideInOut {

    0%,
    45%,
    100% {
        -webkit-transform: translateX(-webkit-calc(-100% - 40px));
        transform: translateX(calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }

    50%,
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

}

@keyframes slideInOut {

    0%,
    45%,
    100% {
        -webkit-transform: translateX(-webkit-calc(-100% - 40px));
        transform: translateX(calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }

    50%,
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

}

.notification-toast.closed {
    display: none;
}

.toast-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--sonic-silver);
}

.toast-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.toast-banner {
    width: 80px;
    height: 80px;
    /* border: 1px solid var(--cultured); */
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
}

.toast-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.toast-detail {
    width: -webkit-calc(100% - 85px);
    width: calc(100% - 85px);
    padding-right: 10px;
}

.toast-message {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    margin-bottom: 8px;
}

.toast-title {
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    color: var(--onyx);
}

.toast-meta {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    padding-top: 5px;
}

@media screen and (max-width: 400px) {
    #img-text-div>div>p:nth-child(2) {
        /* display: none; */
        font-size: 8px;
        font-weight: 600;
        color: #323232;
        margin-top: 20px;
        padding-right: 20px;
        line-height: 15px;
    }

    #img-text-div>div>p:nth-child(1) {
        font-size: 18px;
        font-weight: 600;
        color: #323232;
        padding-right: 20px;
    }

    #img-text-div>div>a>button {
        padding: 8px 16px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    }

    #bottom-div>div {
        width: 280px;
        margin-top: 20px;
    }
    .notification-toast {
        max-width: 200px;
        padding: 5px;
    }
    .toast-detail {
        width: -webkit-calc(100% - 85px);
        width: calc(100% - 85px);
        padding-right: 5px;
    }
    
    .toast-message {
        font-size: 10px;
        color: var(--sonic-silver);
        margin-bottom: px;
    }
    
    .toast-title {
        font-size: 11px;
        font-weight: var(--weight-500);
        color: var(--onyx);
    }
    
    .toast-meta {
        font-size: 10px;
        color: var(--sonic-silver);
        padding-top: 5px;
    }

}



/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner {
    margin: 30px 0;
}

.slider-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    -webkit-scroll-snap-type: inline mandatory;
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.slider-item {
    position: relative;
    min-width: 100%;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
}

.slider-item .banner-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right;
    object-position: right;
}


.banner-text {
    display: none;
}

.banner-btn {
    background: var(--salmon-pink);
    color: var(--white);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
}

.banner-btn:hover {
    background: var(--eerie-black);
}