* {
    font-family: sans-serif;
}

#main-footer {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(245, 245, 245, 0.588);
}

#foo-top-div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;

}

#foo-top-div>div:nth-child(1) {
    width: 80%;
}

#foo-top-div>div:nth-child(1)>img {
    width: 100%;
    /* padding-top: 20px; */
    padding-left: 10px;
}

#foo-top-div>div:nth-child(2) {
    width: 20%;
    text-align: center;
    padding-top: 30px;
}

#foo-top-div>div:nth-child(2)>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

@media screen and (max-width: 850px) {
    #foo-top-div>div:nth-child(2) {
        width: 40%;
    }

    #foo-top-div>div:nth-child(1) {
        width: 60%;
    }
    #foo-sec-div>div:nth-child(3)>div>input {
        width: 90%;
    }
    #foo-sec-div>div:nth-child(3)>div>button {
        margin-top: 20px;
    }
}

#sub-head>p {
    font-size: 15px;
    font-weight: 500;
    color: #5d5d5d;
}

#heading {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

#foo-sec-div,
#foo-third-div,
#foo-fourth-div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /* padding-bottom: 20px; */
    border-bottom: 1px solid #DCDCDC;
    padding: 0px 20px 20px 20px;
}

#foo-sec-mid-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#foo-sec-div>div:nth-child(1) {
    width: 26%;
    padding-left: 20px;
    border-right: 1px solid #DCDCDC;

}

#foo-sec-div>div:nth-child(2) {
    width: 37%;
    border-right: 1px solid #DCDCDC;
}

#foo-sec-div>div:nth-child(3) {
    width: 37%;
    text-align: center;
}

#foo-sec-div>div:nth-child(3)>div>input {
    padding: 10px 20px;
    border: 1px solid #DCDCDC;
}

#foo-sec-div>div:nth-child(3)>div>button {
    padding: 10px 5px;
    border: 1px solid #DCDCDC;
    color: white;
    font-weight: 550;
    background-color: rgb(53, 53, 53);
}

#foo-third-div>div:nth-child(1) {
    width: 30%;
    border-right: 1px solid #DCDCDC;
}

#foo-third-div>div:nth-child(2) {
    width: 30%;
    border-right: 1px solid #DCDCDC;
}

#foo-third-div>div:nth-child(3) {
    width: 30%;
    text-align: center;
}

#foo-bottom-div {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #5d5d5d;
    border-bottom: 1px solid #DCDCDC;
    padding: 15px 0px;
}

@media screen and (max-width: 400px) {

    #main-footer {
        /* display: none; */
    }

    #heading {
        font-size: 13.5px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 10px;
    }

    #sub-head>p {
        font-size: 11px;
        font-weight: 600;
        color: #5d5d5d;
        padding-top: 5px;
    }

    #heading>div>img {
        width: 60px;
        margin-top: -10px;
    }

    #foo-third-div>div:nth-child(3)>div>img {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    #foo-top-div>div:nth-child(2) {
        text-align: center;
        padding-top: 10px;
    }

    #foo-sec-div {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        /* padding-bottom: 20px; */
        border-bottom: 1px solid #DCDCDC;
        padding: 0px 0px 10px 0px;
    }

    #foo-sec-mid-div {
        justify-content: space-between;
        padding-left: 10px;
    }

    #foo-sec-div>div:nth-child(3)>div>input {
        padding: 2px 5px;
        border: 1px solid #DCDCDC;
        width: 90%;
    }

    #foo-sec-div>div:nth-child(3)>div>button {
        padding: 5px 5px;
        border: 1px solid #DCDCDC;
        color: white;
        font-weight: 500;
        font-size: 12px;
        background-color: rgb(53, 53, 53);
        margin-top: 20px;
    }
    #foo-sec-div>div:nth-child(3) {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}