* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#nav-1 {
    border: 1px solid #CCCCCC;
    height: 36px;
    display: flex;
    /* justify-content: space-between; */
    background-color: white;
}

#nav-1-left {
    border-right: 1px solid #CCCCCC;
    height: 36px;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

#nav-1-left>div:nth-child(2) {
    height: 100%;
    width: 110px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
}

#nav-1-left>div:nth-child(1) {
    height: 100%;
    width: 76px;
    display: flex;
    align-items: center;
    text-align: center;
}

#nav-1-left>div>img {
    width: 45%;
    margin: auto;
}

#nav-1-left>div>a>img {
    width: 60%;
    margin: auto;
}

#nav-1-right {
    height: 36px;
    width: 750px;
    display: flex;
    justify-content: space-between;
}

#nav-1-right>div:nth-child(1) {
    width: 70px;
    display: flex;
    align-items: center;
    text-align: center;
}


#nav-1-right>div>img {
    width: 65%;
    margin: auto;
}

#nav-1-right>div:nth-child(2) {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 65%;
    height: 36px;
}

#nav-1-right>div>a>img {
    width: 20px;
}

#nav-1-right>div>a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #323232;
    margin: 0 5px 0 5px;
    border-right: 1.5px solid black;
    padding-right: 7px;
}

#nav-1-right>div>a:nth-child(5) {
    border: none;
}



/*nav-2 start here */

#nav-2 {
    /* border: 2px solid green; */
    height: 75px;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#logo-div {
    /* border: 1px solid red; */
    width: 180px;
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

#logo-div>a>img {
    width: 170px;
    height: 30px;
    padding-left: 8px;

}

/* DROPDOWN--CSS START*/

* {
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 11.5px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #232323;
    padding: 35px 15px 5px 15px;
    background-color: inherit;
    margin: 0;
}

.dropdown .dropbtn:hover {
    border-bottom: 4px solid #ff6062;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #232323;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    width: 40%;
    background-color: white;
    /* height: 235px; */
    padding-top: 20px;
    padding-bottom: 40px;
}

.column>img {
    width: 350px;
    height: 217px;
}

.column>h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.column a {
    float: none;
    color: #232323;
    font-size: 12px;
    padding: 12px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    color: #ff6062;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 621px) {
    .column {
        width: 100%;
        height: auto;
    }
}

#inner-div {
    /* height: 235px; */
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#inner-div>.column-4>img {
    height: 304px;
    padding-top: 30px;
    margin-left: 80px;
}

/* DROPDOWN--CSS END*/

#nav-input[type=text] {
    width: 50px;
    box-sizing: border-box;
    border: none;
    /* border-radius: 4px; */
    /* font-size: 15px; */
    background-color: white;
    background-image: url('https://img.icons8.com/ios-glyphs/1x/search.png');
    background-size: 25px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    padding: 8px 10px 8px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#nav-input[type=text]:focus {
    width: 250px;
    outline: none;
    border-radius: 3px;
    background-image: none;
    background-color: rgb(231, 228, 228);
}

#search-div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-right: 20PX;
}

#offer-nav {
    width: 100%;
    height: 28px;
    display: flex;
}

#offer-nav>div {
    width: 33.33%;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-top: 6px;
    background-color: #ffe9e5;
}

#offer-nav>div:nth-child(2) {
    background-color: #f8c9c8;
}

#mobile {
    display: none;
}

#close {
    display: none;
}

#nav-1-right>div:nth-child(2).active{
    right: 0px;
}

@media screen and (max-width: 400px) {
    #nav-1-right>div:nth-child(1) {
        display: none;
    }

    #nav-1-left {
        /* display: none; */
    }

    body {
        margin: auto;
    }

    #main-footer {
        /* display: none; */
    }

    #offer-nav>div {
        width: 33.33%;
        text-align: center;
        font-family: sans-serif;
        font-size: 10.5px;
        font-weight: 600;
        padding-top: 4px;
        background-color: #ffe9e5;
    }

    #nav-input[type=text]:focus {
        width: 195px;
        outline: none;
        border-radius: 3px;
        margin-left: 10px;
    }

    #nav-1-right>div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -210px;
        height: 100vh;
        width: 200px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 60px 0 0 20px;
        transition: 0.3s;
        border-radius: 15px 0px 0px 15px;
        /* margin-top: 5px;
        margin-bottom: -50px; */
    }

    #nav-1-right>div>a {
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #323232;
        margin: 0 5px 0 5px;
        padding-right: 7px;
        margin-bottom: 25px;
        border: none;
    }
    #nav-1-right{
        /* width: 10px; */
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    #mobile {
        /* border: 1px solid red; */
        padding-right: 10px;
        display: flex;
    }
    #mobile > i {
        color: #1a1a1a;
        font-size: 24px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 20px;
        color: #222;
        font-size: 50px;
    }
}



:root {

    /**
     * colors
     */

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);

    /**
     * typography
     */

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
     * border-radius
     */

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
     * transition 
     */

    --transition-timing: 0.2s ease;

}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
    padding: 0 15px;
}

.has-scrollbar {
    padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* for vertical scroll */
    height: 12px;
    /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
}