* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#cart-nav {
    width: 100%;
    background-color: #F4F4F4;
    height: 65px;
}

#nav-inner {
    width: 70%;
    height: 65px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    #nav-inner {
        width: 98%;
        margin: auto;
    }
}

#logo-div {
    height: 65px;
    width: 180px;
    display: flex;
    align-items: center;
}

#logo-div>a>img {
    width: 170px;
    height: 30px;
    padding-left: 0px;
}

#mid-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mid-div>div {
    height: 65px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #626161;
    background-color: #F4F4F4;
}

#mid-div>div>p {
    padding-top: 5px;
    margin-bottom: -5px;
}

#mid-div>div>a>img {
    width: 20px;
}

#email-div {
    height: 65px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #626161;
    background-color: #F4F4F4;
}

#email-div>img {
    width: 20px;
    height: 20px;
}

#pay-div {
    border-bottom: 3px solid #FC6486;
}

#pay-div > p {
    color: #FC6486;
}

#middle-div {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 850px) {
    #middle-div {
        width: 98%;
        margin: auto;
    }
}

#continue-div {
    margin-top: 20px;
    padding: 10px 0px;
    border: 1px solid #DCDCDC;

}

#continue-div>a {
    color: #FC6486;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#continue-div>a>img {
    width: 18px;
}

#empty-img-div {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

#empty-img-div>p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

#foot-div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #A2A2A2;
    color: #545454;
    font-size: 15px;
    margin-top: 40px;
}

#foot-div>div {
    display: flex;
}

#foot-div>div:first-child>p {
    padding-right: 10px;
}
#pay-mid-div {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 850px) {
    #pay-mid-div {
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
}

#pay-left-div {
    border: 2px solid brown;
    width: 60%;
}

#pay-left-div>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#left-1-div {
    /* border: 2px solid brown; */
    width: 28%;
    border: 1px solid #DCDCDC;
}

#left-1-div>p {
    font-size: 15px;
    font-weight: 500;
    padding: 12px 0px 12px 10px;
    border: 1px solid #DCDCDC;
    background-color: #F4F4F4;
}

#left-1-div>p:nth-child(1) {
    color: #FC6486;
    font-weight: 550;
    font-size: 14px;
    border-right: 4px solid #FC6486;
    padding: 15px 0px 15px 10px;

}

#left-2-div {
    /* border: 2px solid brown; */
    width: 67%;
    border: 1px solid #DCDCDC;
    text-align: center;
}

#left-2-div>p {
    padding: 12px 0px 12px 10px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #DCDCDC;
}

#left-2-div>input {
    width: 80%;
    padding: 10px;
    margin-top: 25px;
    border: 1px solid #DCDCDC;
}

#left-2-div>input:focus {
    outline: none;
}

#left-2-div>div {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 25px;
}

#left-2-div>div>input {
    width: 55px;
    margin-left: 20px;
    padding: 10px 0px 10px 10px;
    border: 1px solid #DCDCDC;
}

#left-2-div>button {
    margin-top: 50px;
    width: 80%;
    padding: 12px;
    background-color: #FC6486;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

#left-2-div>button:hover {
    background-color: #f23f66;
}


#pay-left-div>p,
#pay-right-div>p,
#pay-details-div>p {
    font-size: 20px;
    color: #555555;
}
#pay-right-div>p:nth-child(3){
    margin-top: 20px;
}

#pay-right-div {
    border: 2px solid brown;
    width: 35%;
}

#right-div-bottom {
    margin-top: 20px;
    border: 1px solid #a9a7a7;
    padding: 20px;
    font-size: 13px;
    color: #4A4A4A;
}
#right-div-bottom>p:nth-child(2) {
padding-top: 10px;
}
#right-div-bottom-1 {
    margin-top: 20px;
    border: 1px solid #a9a7a7;
    padding: 10px 20px;
    font-size: 13px;
    color: #4A4A4A;
}
#right-div-bottom-1 > p{
    padding-bottom: 1px;
}

/* ------------------ */
#price-details-div {
    margin-top: 20px;
}

#price-details-div>div {
    width: 100%;
    background-color: #F4F4F4;
    padding: 5px 0px 20px 0px;
    margin-top: 20px;

}

#price-details-div>div>div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

#price-details-div>div>div:nth-child(3) {
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
}

#price-details-div>div>div:nth-child(1) {
    font-size: 14px;
    color: #6E6E6E;
    padding-bottom: 0px;
}

#price-details-div>div>div:nth-child(2) {
    font-size: 14px;
    color: #6E6E6E;
    padding-bottom: 15px;
}

#price-details-div>div>div:nth-child(3) {
    font-size: 14px;
    color: #FC6486;
}