#mid-div {
    /* border: 1px solid black; */
    width: 75%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

@media screen and (max-width: 820px) {
    #mid-div {
        width: 95%;
    }
}

#name-list-div {
    /* border: 1px solid red; */
    width: 25%;
    color: #323232;
}

#name-list-div>p {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}

#name-list-div-1>p {
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0px 5px 25px;
}

#name-list-div-2 {
    margin-top: 10px;
    width: 80%;
    /* border: 1px solid red; */
}

#name-list-div-2>p {
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
    font-size: 14px;
    font-weight: 550;
    padding: 11px 0px;
}

#top-img-div {
    width: 75%;
}

#top-1-div>P {
    font-size: 13PX;
    font-weight: 500;
    color: #323232;
    letter-spacing: 1PX;
    padding-top: 5px;
}

#top-sorting-div {
    display: flex;
    justify-content: space-between;
    margin-top: 30PX;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
    padding: 5px 0px;
}

#top-sorting-div>P {
    font-size: 14PX;
    color: #323232;
}

#filter {
    border: none;
    margin-right: 5px;
}

#filter:focus {
    outline: none;
}

#top-banner {
    width: 95%;
    margin: auto;
    padding: 20px 0px;
}

#top-banner>img {
    width: 100%;
}

#top-images {
    width: 100%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 820px) {
    #top-images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    #top-images {
        grid-template-columns: repeat(1, 1fr);
    }
}

#pro-card {
    /* border: 1px solid blue; */
    /* width: 50%; */
}

#pro-card>a>img {
    width: 100%;
}

#pro-card>p {
    font-size: 16px;
    font-weight: 500;
    color: #323232;
    padding: 5px 10px;
}

#price-div {
    display: flex;
    padding: 5px 10px;
}

#price-div>p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
    color: #323232;
}

#price-div>p:nth-child(2) {
    font-size: 15px;
    font-weight: 600;
    padding-left: 12px;
    color: #999999;
    text-decoration: line-through;
}

#delevery-div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;

}

#delevery-div>p {
    font-size: 13px;
    font-weight: 600;
    color: #323232;
}

#delevery-div>p:nth-child(2) {
    padding: 2px 0px 0px 10px;
}

#delevery-div>p>img {
    width: 25px;
    padding-right: 5px;
}

#btn-div {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 10px 10px;
}

#wish-btn {
    background-color: white;
    border: none;
    cursor: pointer;
}

#wish-btn>img {
    width: 25px;

}

#bag-btn {
    width: 142px;
    height: 28px;
    border-radius: 2px;
    border: none;
    background-color: #FC6486;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#bag-btn:hover {
    background-color: #f6456b;
}